<html>
    <head>

<script type="text/javascript" src="tester1.js">
</script>
</head>

<body>
<h2 style="color: red;">Josh</h2>
</body>

</html>

<!-- app.get('/', async (req, res)=>{
    res.set('Access-Control-Allow-Origin', "*");
    res.json({  
        name: 'Idowu',
        Video: 'This is loading',
        nick: 'Son of God',
        about:'This is a site about house rents'
        

     });

});

client.connect( (err, db) => {
    if (err) throw err;
    var dbo = db.db("reactDatabase");
    var myobj = {name:""};
    dbo.collection("Users").insertOne(myobj, (err, res)=>{
      if (err) throw err;
      console.log("DOcument created");
      db.close();
    });
    
  }); -->